*{
      padding: 0px;
      margin: 0px;
}
body{
      font-family: 'Gulzar', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Mono', monospace;


}
.banner-one{
      background-image: url(images/hero.png);
  padding: 200px 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;

}
.header{
      text-align: center;
      color: white;
      width: 50%;
      margin: 0 auto;
     
}
.h1{
      font-size: 40px;
      
      
}
.p2{
     font-size: 100%;
     margin-top: 20px;
     padding: 40px;

}
.btn{
      background-color:tomato;
      padding: 15px 20px;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 20px;
      border-radius: 10px;


}
.donate{
      width: 40%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10%;
}
.size1{
      font-size: 50px;
      font-weight: 900;

}
.size2{
      font-size: 20px;
      margin-top: 30px;
      
}

.devide{
      display: flex;
      width: 40%;
      margin: 0 auto;
      margin-top: 70px;
      margin-left: 25%;
      
    
      
      
}
.d1{
      padding: 50px;
      background-color: whitesmoke;
      margin-left: 10px;
      border-radius: 5px;

}
 .d2{
      padding: 50px;
      background-color: rgb(239, 191, 199);
      margin-left: 10px;
      border-radius: 5px;
       color: rgb(243, 64, 64);
       border: 2px solid red;


 }     

      
      
.btn1{
    border-width: 30px;
}
.input-one{
padding: 50px;
text-align: center;
margin: 0 auto;



}
input{
      border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
}
.doner{
      background-color: brown;
      padding: 15px 20px;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size: 20px;
      border-radius: 10px;
}
.doner2{
      text-align: center;
      
}
hr{
      margin-left: 23%;
      margin-right: 20%;
}









