*{
      padding: 0px;
      margin: 0px;
}
.banner-one{
      background-image: url(images/hero.png);
  padding: 200px 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;

}
.header{
      text-align: center;
      color: white;
      width: 50%;
      margin: 0 auto;
     
}
.header h1{
      font-size: 60px;
      
}
.header p{

}
.btn{

}
.donate{
      width: 40%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10%;
}
.size1{
      font-size: 50px;
      font-weight: 900;

}
.size2{
      font-size: 20px;
      
}

.devide{
      display: flex;
      width: 40%;
      margin: 0 auto;
      margin-top: 70px;
      margin-left: 25%;
      
    
      
      
}
.d1{
      padding: 50px;
      background-color: whitesmoke;
      margin-left: 10px;
      border-radius: 5px;

}
 .d2{
      padding: 50px;
      background-color: rgb(239, 191, 199);
      margin-left: 10px;
      border-radius: 5px;
       color: rgb(243, 64, 64);
       border: 2px solid red;


 }     

      
      
.btn1{
    border-width: 30px;
}
<hr style="width:50%;text-align:left;margin-left:0">








